<div class="meditation-exercise-container">
    <h2>Meditation Exercises</h2>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <button (click)="createMeditationExercise()" class="btn">Create New Meditation Exercise</button>

    <ul class="meditation-exercise-list">
        <li *ngFor="let meditationExercise of meditationExercisesWithPatientNames"
            (click)="selectMeditationExercise(meditationExercise)">
            Meditation Exercise for {{ meditationExercise.patientName }}
        </li>
    </ul>

    <div *ngIf="selectedMeditationExercise" class="meditation-exercise-details">
        <h3>Meditation Exercise Details</h3>
        <div *ngIf="selectedPatient">
            <h4>Patient Details</h4>
            <div>
                <label>Name: </label>
                <span>{{ selectedPatient.name }}</span>
            </div>
            <div>
                <label>Age: </label>
                <span>{{ selectedPatient.age }}</span>
            </div>
            <div>
                <label>Contact Details: </label>
                <span>{{ selectedPatient.contactDetails }}</span>
            </div>
        </div>
        <div>
            <label>Patient ID: </label>
            <input [(ngModel)]="selectedMeditationExercise.patientId" placeholder="Patient ID" readonly>
        </div>
        <div>
            <label>Exercises:</label>
            <textarea [(ngModel)]="exercisesText" placeholder="Exercises"></textarea>
        </div>
        <button (click)="updateMeditationExercise(selectedMeditationExercise)" class="btn">Update Meditation
            Exercise</button>
        <button (click)="deleteMeditationExercise(selectedMeditationExercise)" class="btn">Delete Meditation
            Exercise</button>
    </div>
</div>