<div class="meal-plan-container">
    <h2>Meal Plans</h2>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <button (click)="createMealPlan()" class="btn">Create New Meal Plan</button>

    <ul class="meal-plan-list">
        <li *ngFor="let mealPlan of mealPlansWithPatientNames" (click)="selectMealPlan(mealPlan)">
            Meal Plan for {{ mealPlan.patientName }}
        </li>
    </ul>

    <div *ngIf="selectedMealPlan" class="meal-plan-details">
        <h3>Meal Plan Details</h3>
        <div *ngIf="selectedPatient">
            <h4>Patient Details</h4>
            <div>
                <label>Name: </label>
                <span>{{ selectedPatient.name }}</span>
            </div>
            <div>
                <label>Age: </label>
                <span>{{ selectedPatient.age }}</span>
            </div>
            <div>
                <label>Contact Details: </label>
                <span>{{ selectedPatient.contactDetails }}</span>
            </div>
        </div>
        <div>
            <label>Patient ID: </label>
            <input [(ngModel)]="selectedMealPlan.patientId" placeholder="Patient ID" readonly>
        </div>
        <div>
            <label>Plan:</label>
            <textarea [(ngModel)]="planText" placeholder="Plan"></textarea>
        </div>
        <button (click)="updateMealPlan(selectedMealPlan)" class="btn">Update Meal Plan</button>
        <button (click)="deleteMealPlan(selectedMealPlan)" class="btn">Delete Meal Plan</button>
    </div>
</div>